{% extends_admingenerated "NitraBannersBundle:BannersNew:form.html.twig" %}

{% block form_stores %}
    {% include 'NitraStoreBundle::storesList.html.twig' with {'stores': form['stores']} %}
{% endblock %}