{% extends_admingenerated "NitraBannersBundle:BannersEdit:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts '@NitraBannersBundle/Resources/public/js/banner.js' %}
        <script src="{{ asset_url }}"></script>           
    {% endjavascripts %}
{% endblock javascript_head %}